
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.game-board {

    position: relative;
    width: 500px;
    height: 500px;
    border: 5px solid #000;
    background-color: #89f79b;
  }
  
  .snake-segment {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #000;
  }
  
  .food {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: red;
  }
  
  .game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: red;
    text-align: center;
  }
  
  .game-over button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    font-size: 24px;
    background-color: #f12929;
    color: white;
    border-radius: 10px;
    border: none;
  }
  
  .score {
    margin-bottom: 50px;
    font-size: 32px;
    font-weight: 600;
    color: green;
  }
  
  .obstacle {
    width: 20px;
    height: 20px;
    background-color: brown;
    position: absolute;
  }
  